extends layout.pug

block content
  div.content-header
    h1= message
  form(action='/contacts' method='POST')
    div.content-sections
      div.section-wrapper
        div.container
          div.row
            div(class='section-title col-lg-3') Email
            div(class='section-input col-lg-8')
              input(type="text" name='email' value=contactsInfo.email)
      div.section-wrapper
        div.container
          div.row
            div(class='section-title col-lg-3') Phone
            div(class='section-input col-lg-8')
              input(type="text" name='phone' value=contactsInfo.phone)
      div.section-wrapper
        div.container
          div.row
            div(class='section-title col-lg-3') Address
            div(class='section-input col-lg-8')
              input(type="text" name='address' value=contactsInfo.address)
      div.section-wrapper
        button.btn.btn-primary(type='submit') submit
