html
  head
    title= title
    link(rel='stylesheet' type='text/css' href='/style.css')
  body
    div#layout
      div(class='wrapper')
        div(class='side-bar')
          h1.side-bar_title Admin Panel
          ul.side-bar_menu
            li.side-bar_menu__item
              a(href='/') Share
            li.side-bar_menu__item
              a(href='/') Home
            li.side-bar_menu__item
              a(href='/projects') Projects
            li.side-bar_menu__item
              a(href='/contacts') Contact
            li.side-bar_menu__item
              a(href='/about') About
        div(class='content')
          h1 Hello World
          block content